<%- include('../partials/header.ejs') %>

<main class="max-content-centered">
  <h1><%= title %></h1>
  <p>This is the <%= title %></p>
  <% libraryBooks.forEach(({title, image, pages}) => { %>
  <h2><%= title %></h2>
  <img src="<%= image.src %>" alt="<%= image.src %>" />
  <% }) %>
</main>

<%- include('../partials/footer.ejs') %>
