<%- include('../partials/header.ejs') %>

<main class="max-content-centered">
  <section>
    <div class="library">
      <h1><%= title %></h1>
      <p>This is the <%= title %></p>
      <div class="books">
        <% libraryBooks.forEach(({title, image, pages, _id}) => { %>
        <article>
          <div class="book">
            <div class="image-wrapper">
              <span class="image-container">
                <img src="<%= image.src %>" alt="<%= image.alt %>" />
              </span>
            </div>
            <a href="/library/<%= _id %>">
              <h3><%= title %></h2>
            </a>
          </div>
        </article>
        <% }) %>
      </div>
    </div>
  </section>
</main>

<%- include('../partials/footer.ejs') %>
