<% if (user) { %> <%- include('../partials/header.ejs') %>

<main>
  <section>
    <div class="dashboard max-content-centered">
      <h2><%= title %></h2>
      <p>Welcome back!</p>
      <section>
        <div class="my-books">
          <div class="header">
            <h2>My Books</h2>
          </div>
          <% if (user.myBooks.length === 0) { %>
          <p>
            Visit the
            <a href="/library">Library</a> to add a book to your collection.
          </p>
          <% } else if (user.myBooks.length <= 2) { %>
          <div class="books">
            <div class="small-book-collection-container">
              <% user.myBooks.map(({title,image, _id}) => { %>
              <div class="single-book">
                <div class="overlay">
                  <div class="my-books-buttons-container">
                    <form method="POST" action="/dashboard/my-books/<%= _id %>">
                      <input type="hidden" value="<%= _id %>" />
                      <input type="submit" value="Remove Book" />
                    </form>
                    <div>
                      <a href="/opened-book/<%= _id %>"
                        ><span class="link-button">Read this Book</span></a
                      >
                    </div>
                  </div>
                </div>
                <img src="<%= image.src %>" alt="<%= image.alt %>" />
              </div>
              <% }) %>
            </div>
          </div>
          <% } else { %>
          <div class="books">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <% user.myBooks.map(({title, image, _id}) => { %>
                <div class="swiper-slide">
                  <div class="overlay">
                    <div class="my-books-buttons-container">
                      <form
                        method="POST"
                        action="/dashboard/my-books/<%= _id %>"
                      >
                        <input type="hidden" value="<%= _id %>" />
                        <input type="submit" value="Remove Book" />
                      </form>
                      <div>
                        <a href="/opened-book/<%= _id %>"
                          ><span class="link-button">Read this Book</span></a
                        >
                      </div>
                    </div>
                  </div>
                  <img src="<%= image.src %>" alt="<%= image.alt %>" />
                </div>
                <% }) %>
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
          </div>
          <% } %>
        </div>
      </section>
    </div>
  </section>
</main>

<%- include('../partials/footer.ejs') %> <% } %>
