<% if (user) { %> <%- include('../partials/header.ejs') %>

<main class="max-content-centered">
  <h1><%= title %></h1>
  <p>This is the <%= title %>!</p>
  <section>
    <div class="my-books">
      <h2>My Books</h2>
      <% if (user.myBooks.length === 0) { %>
      <p>
        Visit the <a href="/library">Library</a> to add a book to your
        collection.
      </p>
      <% } else { user.myBooks.map(({title, image, _id}) => { %>
      <h3><%= title %></h3>
      <img src="<%= image.src %>" alt="<%= image.alt %>" />
      <form method="POST" action="/dashboard/my-books/<%= _id %>">
        <input type="hidden" value="<%= _id %>" />
        <input type="submit" value="Remove Book" />
      </form>
      <% })} %>
    </div>
  </section>
</main>

<%- include('../partials/footer.ejs') %> <% } %>
