<%- include('../partials/header.ejs') %>

<main class="max-content-centered">
  <section>
    <div class="account-detail">
      <h2><%= title %></h2>
      <article>
        <h4>Name</h4>
        <span> <%= accountDetail.name %> </span>
      </article>
      <article>
        <h4>Email</h4>
        <span><%= accountDetail.email %></span>
      </article>
    </div>
  </section>
</main>

<%- include('../partials/footer.ejs') %>
